.flex-header-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;


}

.header-1 {
	align-self: center;
}

.nav-1 a, 
.nav-2 a, 
.nav-3 a, 
.nav-4 a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-hello {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hello-1 {
	flex: 1 100%;
}

.flex-about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;

}

.about-1 img {
	flex: 1 35%;
}

.about-2 {

}

.about-2-1 {
	align-self: center;
}

.about-2-2 {
	align-self: flex-start;
}

.about-2-3 {
	align-self: flex-end;
}

.flex-register {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;

}

.register-1 {
	
}

.flex-specialization {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

}
.specialization-3 {
	flex: 1 100%;
}

.specialization-1,
.specialization-2 {
	flex-basis: 50%;
}

.flex-projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

/*.flex-news {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	border-bottom: 2px solid black;
}*/

.flex-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}