* {
	margin: auto;
	padding: auto;

}
body {
	max-width: auto;
}
#wrapper {
	
}
header {
	display: flex;
	background-color: #DCDCDC;
}

#logo {
	height: 50px;
	padding: 0 -25px;
}
nav {
	margin: 0;
}
#nav_menu {
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: center;
}
ul {
	padding: auto;
}
ul li {
	display: inline-flex;
	text-align: center;
	list-style: none;
	background: #000;
	color: #fff;
	padding: 10px 60px;
	border-style: solid;
	width: 110px;
}
aside {

}
aside#welcome {

}
aside img{
	width: 100%;
	position: static;
}
article {
	height: 500px;
}
aside form {
	width:50%;
}
section {
	background-color: black;
	color: white;
	height: 300px;
}
#about_img {

}
section p {
	display: inline-flex;
}
footer {
	background-color: gray;
	margin: auto;
}