* {
	box-sizing: border-box;
}

body {
	font-size: 1.35em;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	background: #e8e9e9;

}

h1 {

}

.flex-header {
	min-width: 320px;
}

.header-1 img {
	width: 96px;
	height: 67px;

}

.header-1,
.header-2,
.header-3 {
	background: transparent!important; /*Забрати імпортант*/
	text-align: center;
}

.flex-nav {
	
}

.nav-1 a, 
.nav-2 a, 
.nav-3 a, 
.nav-4 a {
	text-decoration: none;
	color: #fff;
}

.nav-1, 
.nav-2, 
.nav-3, 
.nav-4 {
	text-align: center;
}

.flex-hello img,
.about-1 img {
	width: 100%;
	min-width: 320px;
}

.flex-element {
	color: #fff;
	margin: 5px;
	background: firebrick;
	border-radius: 3px;
}

.register-1 p {
	text-align: left;
	margin: 3px;
}

.register-1 input[type=reset], 
.register-1 input[type=submit] {
	margin: 0 25px 10px 25px;
	border-radius: 5px;
	height: 35px;
	width: 110px
}

.specialization-3 {
	text-align: center;
}